# 📒문자열, 리스트, 딕셔너리와 관련된 함수 (계속)

### 여러 줄의 문자열 출력

In [ ]:
# 홀수, 짝수 구분하는 프로그램 
num = int(input("integer >> "))
if num%2 == 0: # 짝
  print("""\
  입력한 숫자는{}입니다
  {}는 짝수입니다.\
  """.format(num,num))
else: #홀
  print("""\
  입력한 숫자는{}입니다
  {}는 홀수입니다.\
  """.format(num,num))

integer >> 3
  입력한 숫자는3입니다
  3는 홀수입니다.

In [ ]:
# 홀수, 짝수 구분하는 프로그램 
num = int(input("integer >> "))
if num%2 == 0: # 짝
  print("""입력한 숫자는{}입니다.\n{}는 짝수입니다.\n
  """.format(num,num))
else: #홀
  print("""입력한 숫자는{}입니다\n{}는 홀수입니다.\n
  """.format(num,num))

integer >> 76
입력한 숫자는76입니다.
76는 짝수입니다.

## 문자열 연걸

In [ ]:
print("-".join(["010","2479","6545"]))
print("|".join(["010","2479","6545"]))

010-2479-6545
010|2479|6545

In [ ]:
# 홀수, 짝수 구분하는 프로그램 
num = int(input("integer >> "))
if num%2 == 0: # 짝
  print("\n".join(["입력한 숫자는{}입니다","{}는 짝수입니다."]).format(num,num))
else: #홀
  print("\n".join(["입력한 숫자는{}입니다","{}는 홀수입니다."]).format(num,num))

integer >> 34
입력한 숫자는34입니다
34는 짝수입니다.

In [ ]:
# 소괄호 문자 연결
a=(
     "나는"
    "여름을"
    "좋아합니다"
)
   

print(a, type(a))

('나는', '여름을', '좋아합니다') <class 'tuple'>

In [ ]:
# 소괄호 문자 연결
a=(
     "나는 \n"
    "여름을 \n"
    "좋아합니다"
)
   

print(a, type(a))
a

나는
여름을
좋아합니다 <class 'str'>

'나는 \n여름을 \n좋아합니다'

In [ ]:
# 홀수, 짝수 구분하는 프로그램 
num = int(input("integer >> "))
if num%2 == 0: # 짝
  print("입력한 숫자는{}입니다.\n{}는 짝수입니다.\n".format(num,num))
else: #홀
  print("입력한 숫자는{}입니다\n{}는 홀수입니다.\n".format(num,num))

integer >> 56
입력한 숫자는56입니다.
56는 짝수입니다.

## iterator

In [ ]:
a = [1,2,3]
b = reversed(a)
print(b)
print(list(b))
print(b)
print(list(b))

<list_reverseiterator object at 0x7ffaf91cd600>
[3, 2, 1]
<list_reverseiterator object at 0x7ffaf91cd600>
[]

In [ ]:
a = [1,2,3]
b = list(reversed(a))
print(b)
print(list(b))
b

[3, 2, 1]
[3, 2, 1]

[3, 2, 1]

In [ ]:
a = [1,2,3]
b =reversed(a)
print(next(b))
print(next(b))
print(next(b))

3
2
1

# 📒함수

### 사용자 정의함수

In [ ]:
def print3times():
  print("안녕\n"*3)

print3times()

안녕
안녕
안녕

### 입력매개변수

In [ ]:
# 매개변수 
def printNtimes(val, n):
  for i in range(n): # n은 반드시 정수 
    print(val) # 무슨 값이든 상관 없음 

printNtimes("헬로우!", 5)

헬로우!
헬로우!
헬로우!
헬로우!
헬로우!

In [ ]:
# printNtimes("헬로우!", 5/2) # TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
# TypeError: printNtimes() missing 2 required positional arguments: 'val' and 'n'
# printNtimes()printNtimes()

In [ ]:
printNtimes(3,3)

3
3
3

### 가변매개변수 
- 일반매개함수 뒤에 써야한다.

In [ ]:
## 가변매개변수 = 입력할 수 있는 값의 제한이 없음 
# 일반 매개변수 뒤에 와야함 
def printNtimes(n, *val):
  for i in range(n):
    for j in val:
      print(j)

printNtimes(3, "h","i","!")

h
i
!
h
i
!
h
i
!

In [ ]:
def multi_sum(*args): #함수의 매개 변수는 가변 인자 *args로 정의
   num = len(args)  
   print("입력 된 변수 개수 : ", str(num)+"개")
   print(args)
    

multi_sum(1,2,3,4,5,6,7) #매개변수(int) 7개
multi_sum(5,1,3,2) #매개변수(int) 4개

입력 된 변수 개수 :  7개
(1, 2, 3, 4, 5, 6, 7)
입력 된 변수 개수 :  4개
(5, 1, 3, 2)

### 기본매개변수 

- 일반매개변수 > 가변매개변수 > 기본매개변수

In [ ]:
# 기본매개변수 = 기본값을 가지는 매개변수 
def printNtimes(*val, n=5):
  for i in range(n):
    for j in val:
      print(j)

printNtimes( "헬로우","월드","111!")

헬로우
월드
111!
헬로우
월드
111!
헬로우
월드
111!
헬로우
월드
111!
헬로우
월드
111!

### 키워드 매개변수

In [ ]:
printNtimes( "헬로우","월드","111!",n=10)

헬로우
월드
111!
헬로우
월드
111!
헬로우
월드
111!
헬로우
월드
111!
헬로우
월드
111!
헬로우
월드
111!
헬로우
월드
111!
헬로우
월드
111!
헬로우
월드
111!
헬로우
월드
111!

In [ ]:
# 키워드 매개변수를 사용하면 좋은 점 -> 순서 상관 없음 
printNtimes( "헬로우","월드","111!",n=10)

In [ ]:
def test(a,b=3,c=4):
  print(a+b+c)


test(10,20,30)
test(10)

60
17

In [ ]:
test(c=10,b=20,a=30)
test(10,20)

53
33

In [ ]:
#2)키워드 매개변수로 입력 
test(a=2)

9

In [ ]:
#3) 키워드 매개변수 순서를 바꿔서 입력 
test(c=20,b=10,a=30)

60

In [ ]:
#4) 키워드 매개변수 일부만 사용 
test(10,c=60)

73

In [ ]:
def print_hello(to1, to2='info', *tos, **ktos):
    print('hello', to1)
    print('hello', to2)
    for to in tos:
        print('hello', to)
    for k in ktos:
      print('hello', ktos[k])

In [ ]:
print_hello('data')

hello data
hello info

In [ ]:
print_hello('data', 'info00')

hello data
hello info00

In [ ]:
print_hello('data', 'info', 'machine')

hello data
hello info
hello machine

In [ ]:
print_hello('data', 'info', 'machine', 'learning')

hello data
hello info
hello machine
hello learning

In [ ]:
print_hello('data', 'info', 'machine', 'learning', to5='deep')

hello data
hello info
hello machine
hello learning
hello deep

In [ ]:
print_hello('data', 'info', 'machine', 'learning', to5='deep', to6='learning')

hello data
hello info
hello machine
hello learning
hello deep
hello learning

## 리턴

In [ ]:
# 리턴 = 반환값, 리턴값 = 함수 적용 결과 
def returnTest():
  print("a")
  return 
  print("b")


returnTest()

a

In [ ]:
# 가장 일반적인 방식
def returndef():
  return 2+3
returndef()

5

In [ ]:
# 2 자료와 함께 리턴 
def returnTest():
  return True 

returnTest()

True

In [ ]:
# 3 None 리턴 
def returnTest():
  return 
print(returnTest())

None

### 입력한 값을 모두 더하는 함수

In [ ]:
#일반매개변수
def sum_all(start,end):
  output=0
  for i in range(start,end+1):
    output+=i
  return output

55

In [ ]:
sum_all(1,10)

In [ ]:
sum_all(end = 12,start = 10)

33

In [ ]:
#기본매개변수
def sum_all(start=1,end=10,step=2):
  output=0
  for i in range(start,end+1,step):
    output+=i
  return output

In [ ]:
sum_all()

25

In [ ]:
# 일반 매개변수로 사용 = 순서대로 
sum_all(3,9,2)

24

In [ ]:
#키워드 매개변수로 사용 = 순서 상관 없음
sum_all(step=4,start=10,end=40)

192

In [ ]:
sum_all(start=10,end=20)

90

In [ ]:
# sum_all(start=10,end=20,3) #SyntaxError: positional argument follows keyword argument

In [ ]:
# 키워드 매개변수 일부만 사용 
sum_all(start=1, step=3)

22

# 📒함수의 활용

## 재귀함수

In [ ]:
# 팩토리얼
# 반복문으로 구현 
def fac(n):
  output = 1
  for i in range(1,n+1):
    output *= i
  return output

fac(5)

120

In [ ]:
# 팩토리얼
# 반복문으로 구현 
def fac(n):
  output = 1
  for i in range(n,0,-1):
    output *= i
  return output

fac(5)

120

In [ ]:
# 재귀함수 
def fac(n):
  if n==0:
    return 1
  else: return n*fac(n-1)

fac(5)

120

In [ ]:
# 재귀함수 예시2
def recursive_call(x):
    print(x)
    if x<10:
      recursive_call(x+1)
    
    
recursive_call(1)

1
2
3
4
5
6
7
8
9
10

## 피보나치 수열

In [ ]:
def fib(n):
  if n == 0:
    return 0
  elif n == 1 or n == 2:
    return 1
  else:
    return fib(n - 1) + fib(n - 2)

fib(10)

55

In [ ]:
for i in range(11):
  print(fib(i))

0
1
1
2
3
5
8
13
21
34
55

In [ ]:
# 시간이 너무 오래 걸림 
print(fib(5))

5

In [ ]:
# 재귀함수 사용 횟수 계산  
cnt=0 
def fib(n):
  global cnt
  cnt+=1
  if n == 0:
    return 0
  elif n == 1 or n == 2:
    return 1
  else:
    return fib(n - 1) + fib(n - 2)

print(fib(10))
print(cnt)

55
109

## 메모화

In [ ]:
# 재귀함수 사용 횟수 계산  
f_dic={1:1,2:1}

def fib(n): # 딕셔너리의 키 
  if n in f_dic:
    return f_dic[n]   # f_dic[n]: value : 존재하는 키의 val을 가져오는 경우 

  output = fib(n - 1) + fib(n - 2) 
  f_dic[n] = output # 존재하지 않는 키에 대한 val을 가져옴 
  return output 

fib(50)

12586269025

### 리스트 평탄화 
1. 2차원 리스트 반복문 2번 사용해서 평탄화
2. 실제로 중괄호가 몇 번 나올지 모름 
3. 재귀함수로 해결 가능

In [ ]:
a = [0,[1,2,3],[4,5,[6,7,8,[9,10]]],[11,12,13],14]
def flat(data):
  blankList = []
  for i in data: # 반복 
    if type(i)==list: # 리스트인 경우 
      blankList += flat(i) # 리스트가 아닐때까지 반복 
    else: # 요소인 경우 
      blankList += [i] # 요소 추가 
  return blankList

flat(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
a = [0,[1,2,3],[4,5,[6,7,8,[9,10]]],[11,12,13],14]
def flat(data):
  blankList = []
  for i in data: # 반복 
    if type(i)==list: # 리스트인 경우 
      blankList += flat(i) # 리스트가 아닐때까지 반복 
    else: # 요소인 경우 
      blankList.append(i) # 요소 추가 
  return blankList

flat(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
for i in a:
  print(i)
# 0   -> 요소 추가 
# [1, 2, 3] -> flat([1,2,3]) -> 1,2,3 요소 추가 
# [4, 5, [6, 7, 8, [9, 10]]] -> flat([4, 5, [6, 7, 8, [9, 10]]] ) -> 4,5 요소 추가 , flat([6, 7, 8, [9, 10]]]) -> 6,7,8 요소 추가 , flat([9,10])-> 9,10 요소 추가 
# [11, 12, 13]->  flat([11, 12, 13]) -> 11, 12, 13 요소 추가 
# 14  -> 요소 추가 

print("<--- 재귀 + 리스트 평탄화---> ")
print(
 """0  -> 요소 추가 /n[1, 2, 3] -> flat([1,2,3]) -> 1,2,3 요소 추가 
[4, 5, [6, 7, 8, [9, 10]]] -> flat([4, 5, [6, 7, 8, [9, 10]]] ) -> 4,5 요소 추가 , flat([6, 7, 8, [9, 10]]]) -> 6,7,8 요소 추가 , flat([9,10])-> 9,10 요소 추가 
[11, 12, 13]->  flat([11, 12, 13]) -> 11, 12, 13 요소 추가 
14  -> 요소 추가 """
)

0
[1, 2, 3]
[4, 5, [6, 7, 8, [9, 10]]]
[11, 12, 13]
14
<--- 재귀 + 리스트 평탄화--->
0  -> 요소 추가 /n[1, 2, 3] -> flat([1,2,3]) -> 1,2,3 요소 추가
[4, 5, [6, 7, 8, [9, 10]]] -> flat([4, 5, [6, 7, 8, [9, 10]]] ) -> 4,5 요소 추가 , flat([6, 7, 8, [9, 10]]]) -> 6,7,8 요소 추가 , flat([9,10])-> 9,10 요소 추가
[11, 12, 13]->  flat([11, 12, 13]) -> 11, 12, 13 요소 추가
14  -> 요소 추가

# 📒튜플

### 튜플 생성

In [ ]:
# 튜플 생성 
list1 = [1,2,3]
tuple1 = (1,2,3)

print("list:", list1,type(list1) ,"\ntuple:",tuple1, type(tuple1))

list: [1, 2, 3] <class 'list'>
tuple: (1, 2, 3) <class 'tuple'>

### 튜플 인덱스(싱)

In [ ]:
for i in range(len(list1)):
  print(list1[i], end="_")

print()


for i in range(len(tuple1)):
  print(tuple1[i], end="_ ")

1_2_3_
1_ 2_ 3_

In [ ]:
list1[2]=10
list1

[1, 2, 10]

In [ ]:
# 튜플은 요소 변경 불가 
# TypeError: 'tuple' object does not support item assignment
# tuple1[2]=10
# tuple1

In [ ]:
# 소괄호 없이 튜플 생성 
tuple2 = 1,2,3
print(tuple2)
print(type(tuple2))

(1, 2, 3)
<class 'tuple'>

In [ ]:
# 여러 변수를 한 번에 할당하는 방법 , 리스트, 튜플과는 전혀 관계없다
# a=1
# b=2
# c=3
# d=4  이렇게 할당하는 것은 불편하다! 하지 말 것 


[a,b] = [1,2]
(c,d) = (3,4)
print(a,b,c,d)
print(type(a), type(b),type(c),type(d))

1 2 3 4
<class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [ ]:
# 소괄호 없이 여러 변수에 값 할당 
a,b,c = 1,2,3
print(a,b,c)
print(type(a), type(b), type(c))

1 2 3
<class 'int'> <class 'int'> <class 'int'>

## 값의 교환

In [ ]:
a = 1
b = 2
print(a,b)
c = a
a = b
b = c
print(a,b)

1 2
2 1

In [ ]:
a,b = 1,2
print(a,b)
a,b = b,a 
print(a,b)

1 2
2 1

## 튜플 & 함수 같이 사용하기

In [ ]:
# 튜플 형태로 리턴하는 사용자 정의 함수 만들기 
def test():
  return (1,2)


a,b = test()   # a,b = (1,2)
print(a,b)

1 2

In [ ]:
# 튜플 형태로 리턴하는 함수 복습 
# 리스트의 인덱스와 값 변환 = enumerate()
list1=[00,11,22,33]
for i , j in enumerate(list1):
  print("index:", i, "  |   val:", j)

index: 0   |   val: 0
index: 1   |   val: 11
index: 2   |   val: 22
index: 3   |   val: 33

In [ ]:
# 딕셔너리의 키와 값 변환 = items()
dics={"0":000,
    "1":111, 
      "2":222,
      "3":333}
for i , j in dics.items():
  print("index:", i, "  |  val:", j)

index: 0   |  val: 0
index: 1   |  val: 111
index: 2   |  val: 222
index: 3   |  val: 333

In [223]:
# 몫 , 나머지
a,b = 63, 30
print(a//b, a%b)

2 3

In [224]:
c ,d = divmod(63,30)
print(c,d)

2 3

# 📒람다
- lambda 매개변수 : 표현식
- 함수의 매개변수에 사용하는 함수 = 콜백함수

In [246]:
def hap(x, y):
  return x + y

print("함수를 이용한 방법: ",hap(10, 20))

함수를 이용한 방법:  30

In [252]:
  # 위와 동일한 식 
print("lambda를 이용한 방법: {}".format((lambda x,y: x + y)(10, 20)))

lambda를 이용한 방법: 30

In [237]:
def repeat_10(x):
  for i in range(10):
      x()  # print_hi()
def print_hi():
  print("HIIIIII!")

repeat_10(print_hi)

HIIIIII!
HIIIIII!
HIIIIII!
HIIIIII!
HIIIIII!
HIIIIII!
HIIIIII!
HIIIIII!
HIIIIII!
HIIIIII!

# 📒map()

In [232]:
# map함수 
# 리스트 선언 
list1 = [1,2,3,4]

# 임의의 함수 
def sqr(x):
  return x**2

# map() 적용 
a = list(map(sqr,list1))
print(a)

# 리스트 요소 보기 
for i in a:
  print(i)

[1, 4, 9, 16]
1
4
9
16

# 📒filter()

In [236]:
# map함수 
# 리스트 선언 
list1 = [1,2,3,4,5,6,7]

# 임의의 함수 
def under5(x):
  return x<5  # Bool값 리턴 T or F



output = filter(under5,list1)   # True 인것만 output 변수에 들어감 
print(output)
print(list(output))

<filter object at 0x7ffaf8e93d00>
[1, 2, 3, 4]

In [238]:
print(under5(4))

True

## 람다로 변경

In [239]:
list1 = [1,2,3,4,5]
# map() 적용 
# lambda 매개변수: 리턴 값 
a = list(map(lambda x:x**2, list1))
print(a)

# 리스트 요소 보기 
for i in a:
  print(i)

[1, 4, 9, 16, 25]
1
4
9
16
25

In [241]:
list1 = [1,2,3,4,5,6,7]
output = filter(lambda x:x<5,list1)   # True 인것만 output 변수에 들어감 
print(output)
print(list(output))

<filter object at 0x7ffaf91ccb20>
[1, 2, 3, 4]