# 데이터분석 관련 필수 라이브러리 

1. 판다스 pandas
2008년 금융 데이터 분석용으로 처음 개발
오픈소스=무료
통계, 데이터 과학, 머신러닝 분야에서 중요하게 사용
코랩으로 실습하기 때문에 설치가 따로 필요없음
설치: pip install pandas
엡데이트 관련 질문이 나오면 y Y
2. 넘파이 numpy
숫자 해석 라이브러리
선형대수 연산에 필요한 다차원 배열, 배열 연산 등
설치: pip install numpoy
3. 맷플롯립 matplotlib
기본 제공 시각화 도구
판다스와 연계하여 데이터를 다양한 방식으로 시각화
설치: pip install matplotlib
4. 사이파이 : 과학 계산용 함수를 모아놓은 파이썬 패키지입니다.
5. 사이킷런 : 파이썬 프로그래밍 언어용 자유 소프트웨어 기계 학습 라이브러리이다.

# 시리즈

In [112]:
# 라이브러리 불러오기 
import pandas as pd 

# 딕셔너리 생성 - 키와 값으로 구성됨 
test_dict = {
    'a' :1,
    'b' :2,
    'c': 3
}

print(test_dict)

{'a': 1, 'b': 2, 'c': 3}

In [113]:
# 딕셔너리를 시리즈로 변환 
s = pd.Series(test_dict)
print(s)
#시리즈 값은 정수 int 
print(type(s))

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

## 인덱스

In [114]:
test_dict = {
    'a' :1,
    'b' :2,
    'c': 3
}

print(test_dict)

s = pd.Series(test_dict)
# 인덱스 확인 
print(s.index)
# 데이터 타입 : object
# 인덱스 이름 'a','b','c'

{'a': 1, 'b': 2, 'c': 3}
Index(['a', 'b', 'c'], dtype='object')

In [115]:
# 값 확인 
print(s.values)
# 딕셔너리의 키 => 인덱스 이름 
# 딕셔너리 값 => 값 , 숫자 int

[1 2 3]

In [116]:
test_list=['hell' , 13, True, 3.014]
print(test_list)

['hell', 13, True, 3.014]

In [117]:
s = pd.Series(test_list)
print(s)

0     hell
1       13
2     True
3    3.014
dtype: object

In [118]:
# 인덱스 확인 
print(s.index)
# 값확인
print(s.values)

# 리스트의 인덱스 => 인덱스 숫자(정수)
# 리스트의 요소 => 값: 기본자료

RangeIndex(start=0, stop=4, step=1)
['hell' 13 True 3.014]

## 원소 선택

In [119]:
# 인덱스 사용 
# 튜플 생성 
# 리스트와 유사 
# 차이점 : 소괄호 사용, 원소 변경 불가 
# 기본 자료형 
test_tuple =('아이유', 184,73.5, True)
print(test_tuple)

('아이유', 184, 73.5, True)

In [120]:
#튜플에서 시리즈로 변환 
s = pd.Series(test_tuple, index =["name",'height', 'weight', '이지은'] )
print(s)

name       아이유
height     184
weight    73.5
이지은       True
dtype: object

In [121]:
#하나의 원소 선택 # 숫자 사용 
for i in range(4):
  print(s[i])

아이유
184
73.5
True

In [122]:
print(s['name'])
print(s['height'])
print(s['weight'])
print(s['이지은'])

아이유
184
73.5
True

In [123]:
# 여러개의 원소 선택 
# 숫자 
print(s[[0,3]])
print(s[[1,2]])
# 이름 
print(s[['name', 'weight']])

name     아이유
이지은     True
dtype: object
height     184
weight    73.5
dtype: object
name       아이유
weight    73.5
dtype: object

In [124]:
# 범위를 지정하여 여러 개의 원소 선택 = 슬라이싱
print(s[0:2]) # name, height
print(s['name':'weight']) # name, height

name      아이유
height    184
dtype: object
name       아이유
height     184
weight    73.5
dtype: object

## 데이터프레임

In [125]:
#라이브러리
import pandas as pd

In [126]:
#딕셔너리 = 키 & 여러개의 값 : 리스트 형태 
test_dict  =  {
    'c1' : [1,2,3,4],
    'c2':[5,6,7,8],
    'c3' : [9,10,11,0],
    'c4' : [12,13,14,15]
}
df = pd.DataFrame(test_dict)
print(df)

   c1  c2  c3  c4
0   1   5   9  12
1   2   6  10  13
2   3   7  11  14
3   4   8   0  15

In [127]:
# 딕셔너리를 데이터프레임으로 전환
df = pd.DataFrame(test_dict)
print(df)
# 딕셔너리의 키 = 데이터프레임의 열 이름 
# 딕셔너리의 값 = 데이터프레이믜 열 값 
# 딕셔너리의 값 = 리스트의 요소 = 행 인덱스

   c1  c2  c3  c4
0   1   5   9  12
1   2   6  10  13
2   3   7  11  14
3   4   8   0  15

In [128]:
type(df)

pandas.core.frame.DataFrame

## 인덱스

In [129]:
import pandas as pd

In [130]:
# 행 인덱스와 열 이름 설정하여 데이터프레임
df = pd.DataFrame([['정대만',19,184],['서태웅',17,180]],
                  index =['선수1','선수2'], # 행 인덱스 
                  columns=['이름','나이','키']) # 열이름
print(df)

      이름  나이    키
선수1  정대만  19  184
선수2  서태웅  17  180

In [131]:
# 행 인덱스 확인 
print(df.index)
# 열 이름 확인 
print(df.columns)

Index(['선수1', '선수2'], dtype='object')
Index(['이름', '나이', '키'], dtype='object')

In [132]:
# 행 인덱스, 열 이름 변경 
df.index=['학생1','학생2']
df

      이름  나이    키
학생1  정대만  19  184
학생2  서태웅  17  180

In [133]:
#열 이름 변경 
df.columns  = ['성명', '연령', '신장']
df

      성명  연령   신장
학생1  정대만  19  184
학생2  서태웅  17  180

In [134]:
# 메소드 함수 = 클래스 안에 있는 함수 
# 행 인덱스 , 열 이름 => 
df_new = df.rename(index = {'학생1': '선수1', '학생2': '선수2'}) # 사본으로 반환하므로 저장하고 싶다면 다시 저장해야한다.

In [135]:
df_new

      성명  연령   신장
선수1  정대만  19  184
선수2  서태웅  17  180

In [136]:
# 원본을 바로 변경
print(df) # 변경 전 
df.rename(index = {'학생1': '선수1', '학생2': '선수2'}, inplace = True)
print(df)# 변경 후

      성명  연령   신장
학생1  정대만  19  184
학생2  서태웅  17  180
      성명  연령   신장
선수1  정대만  19  184
선수2  서태웅  17  180

In [137]:
df_new = df.rename(columns ={'성명' : '이름',
                             '연령': '나이',
                             '신장':'키'})
df

      성명  연령   신장
선수1  정대만  19  184
선수2  서태웅  17  180

In [138]:
# 원본을 바로 변경 
print(df) #변경 전 
df.rename(columns ={'성명' : '이름',
                             '연령': '나이',
                             '신장':'키'}, inplace = True)

print(df)

      성명  연령   신장
선수1  정대만  19  184
선수2  서태웅  17  180
      이름  나이    키
선수1  정대만  19  184
선수2  서태웅  17  180

### 행 , 열 삭제

In [139]:
score_dict = {
      'point3' :[24,3,9],
      'point2' : [6,4,1],
      'ft' : [3,1,6]
}
print(score_dict)

{'point3': [24, 3, 9], 'point2': [6, 4, 1], 'ft': [3, 1, 6]}

In [140]:
df = pd.DataFrame(score_dict,index=['정대만','강백호','서태웅'])
df

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6

In [141]:
df1 = df[:] #복사된다. 
df1

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6

In [142]:
print(df1)
df2 = df1.drop('강백호', axis=0)
print(df2)
print(df1)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6
     point3  point2  ft
정대만      24       6   3
서태웅       9       1   6
     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6

In [143]:
print(df1)
df2 = df1.drop('강백호', axis=0, inplace = True)
print(df2)
print(df1)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6
None
     point3  point2  ft
정대만      24       6   3
서태웅       9       1   6

<ipython-input-143-fd35643a598e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2 = df1.drop('강백호', axis=0, inplace = True)

In [144]:
# 사본 저장
df1 = df[:]
# 열 삭제 => axis = 0
print(df1)
df2 = df1.drop('ft', axis=1)
print(df2)
print(df1)
df1.drop('ft', axis=1, inplace=True)
print(df1)  #변경 후 = df1

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6
     point3  point2
정대만      24       6
강백호       3       4
서태웅       9       1
     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6
     point3  point2
정대만      24       6
강백호       3       4
서태웅       9       1

<ipython-input-144-2a70195baee5>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop('ft', axis=1, inplace=True)

In [145]:
# 여러 개의 행, 열 삭제 
# 사본 저장
# 사본 저장
df1 = df[:]
df1.drop('강백호', axis=0, inplace = True)
print(df1)
df1.drop('ft', axis=1, inplace = True)
print(df1)

     point3  point2  ft
정대만      24       6   3
서태웅       9       1   6
     point3  point2
정대만      24       6
서태웅       9       1

<ipython-input-145-30386ffcc8f5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop('강백호', axis=0, inplace = True)
<ipython-input-145-30386ffcc8f5>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop('ft', axis=1, inplace = True)

In [146]:
# 여러 개의 행, 열 삭제 
# 사본 저장
# 사본 저장
df1 = df[:]
df1.drop(['강백호','서태웅'], axis=0, inplace = True)
print(df1)
df

     point3  point2  ft
정대만      24       6   3

<ipython-input-146-51705325d8c1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(['강백호','서태웅'], axis=0, inplace = True)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6

In [147]:
score_dict = {
      'point3' :[24,3,9],
      'point2' : [6,4,1],
      'ft' : [3,1,6]
}
print(score_dict)

{'point3': [24, 3, 9], 'point2': [6, 4, 1], 'ft': [3, 1, 6]}

In [148]:
# 딕셔너리를 데이터프레임으로 변환 
df = pd.DataFrame(score_dict, index = ['정대만','강백호','서태웅'])
print(df)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6

In [149]:
# loc 인덱서 =이름 
print(df.loc['정대만']) # 시리즈
print(df.loc[['정대만']]) # 데이터프레임

point3    24
point2     6
ft         3
Name: 정대만, dtype: int64
     point3  point2  ft
정대만      24       6   3

In [150]:
type(df.loc['정대만']) # 시리즈

pandas.core.series.Series

In [151]:
# iloc 인덱서 = 숫자 
print(df.iloc[0])# 시리즈 
print(df.iloc[[0]]) #데이터프레임

point3    24
point2     6
ft         3
Name: 정대만, dtype: int64
     point3  point2  ft
정대만      24       6   3

In [152]:
# 여러개의 행 선택 
print(df.loc[['정대만', '서태웅']]) #데이터프레임
print(df.iloc[[0,2]]) # 데이터프레임

     point3  point2  ft
정대만      24       6   3
서태웅       9       1   6
     point3  point2  ft
정대만      24       6   3
서태웅       9       1   6

In [153]:
# 여러개의 행 선택 ( 범위 지정: 슬라이싱)
print(df.loc['강백호':'서태웅']) # 데이터프레임
print(df.iloc[0:2]) # 데이터프레임

     point3  point2  ft
강백호       3       4   1
서태웅       9       1   6
     point3  point2  ft
정대만      24       6   3
강백호       3       4   1

### 열선택

In [154]:
# 열 선택하는 방법 3가지 
# 열 하나 선택 
print(df['point3']) # 시리즈 
print(df[['point3']]) # 데이터프레임  #
print(df.point3) # 시리즈 
# 여러 개의 열 선택
print(df[['point3','ft']]) # 데이터프레임

정대만    24
강백호     3
서태웅     9
Name: point3, dtype: int64
     point3
정대만      24
강백호       3
서태웅       9
정대만    24
강백호     3
서태웅     9
Name: point3, dtype: int64
     point3  ft
정대만      24   3
강백호       3   1
서태웅       9   6

### 원소 선택

In [155]:
# 행과 열을 동시에 선택 
print(df)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6

In [156]:
# 행만 선택 
print(df.loc['정대만'])
print(df.iloc[0])

point3    24
point2     6
ft         3
Name: 정대만, dtype: int64
point3    24
point2     6
ft         3
Name: 정대만, dtype: int64

In [157]:
# 행과 열을 동시에 선택 => [행,열]
print(df)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6

In [158]:
# 열 선택 = 모든 행  
# [행, 열]
print(df)
print(df.loc[:,'point3'])
print(df.iloc[0])

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6
정대만    24
강백호     3
서태웅     9
Name: point3, dtype: int64
point3    24
point2     6
ft         3
Name: 정대만, dtype: int64

In [159]:
# 행과 열을 동시에 선택 
print(df)
print(df.loc['정대만','point3'])
print(df.iloc[0,0])

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6
24
24

In [160]:
# 여러 개의 행과 하나의 열 선택 
print(df.loc[['정대만','서태웅'],'point2'])
print(df.iloc[[0,2],1])

정대만    6
서태웅    1
Name: point2, dtype: int64
정대만    6
서태웅    1
Name: point2, dtype: int64

In [161]:
#하나의 행과 여러 개의 열 선택 
print(df.loc['정대만',['point3','ft']])
print(df.iloc[0,[0,2]])

point3    24
ft         3
Name: 정대만, dtype: int64
point3    24
ft         3
Name: 정대만, dtype: int64

In [162]:
# 여러 개의 행과 여러 개의 열 선택 
print(df.loc[['정대만','서태웅'],['point3','ft']])
print(df.iloc[[0,2],[0,2]])

     point3  ft
정대만      24   3
서태웅       9   6
     point3  ft
정대만      24   3
서태웅       9   6

In [163]:
# 여러 개의 행과 여러 개의 열 선택 (슬라이싱)
print(df.loc['정대만':'서태웅', 'point3':'ft'])
print(df.iloc[0:3,0:3])
print(df.iloc[0:3,0:2])

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6
     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6
     point3  point2
정대만      24       6
강백호       3       4
서태웅       9       1

### 열추가

In [164]:
print(df)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9       1   6

In [165]:
# 전부 같은 값을 가진 열 추가 
df['foul'] =2
print(df)

     point3  point2  ft  foul
정대만      24       6   3     2
강백호       3       4   1     2
서태웅       9       1   6     2

In [166]:
# 다른 값을 가진 열 추가 = 리스트 형태 
df['rebound'] = [1,2,3]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2        2
서태웅       9       1   6     2        3

### 행추가

In [167]:
df.loc['채치수'] = 0
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2        2
서태웅       9       1   6     2        3
채치수       0       0   0     0        0

In [168]:
df.loc['송태섭'] = [9,10,2,4,0]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2        2
서태웅       9       1   6     2        3
채치수       0       0   0     0        0
송태섭       9      10   2     4        0

### 원소값 변경

In [169]:
# 행과 열을 동시에 선택해서 값을 변경 
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2        2
서태웅       9       1   6     2        3
채치수       0       0   0     0        0
송태섭       9      10   2     4        0

In [170]:
# 하나의 행과 하나의 열을 선택하여 값 변경 
df.loc['채치수','rebound'] =5
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2        2
서태웅       9       1   6     2        3
채치수       0       0   0     0        5
송태섭       9      10   2     4        0

In [171]:
df.iloc[4,4] =1
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2        2
서태웅       9       1   6     2        3
채치수       0       0   0     0        5
송태섭       9      10   2     4        1

In [172]:
# 하나의 행과 여러 개의 열을 선택하여 값 변경 
df.loc['채치수', ['point3','foul']]= 3
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2        2
서태웅       9       1   6     2        3
채치수       3       0   0     3        5
송태섭       9      10   2     4        1

In [173]:
# 하나의 행과 여러 개의 열을 선택하여 값 변경 
df.iloc[3, [1,3]]= 2
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2        2
서태웅       9       1   6     2        3
채치수       3       2   0     2        5
송태섭       9      10   2     4        1

In [175]:
#여러 개의 행과 여러개의 열을 선택하여 값을 변경 
df.iloc[[3,4], [1,3]]= 10
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2        2
서태웅       9       1   6     2        3
채치수       3      10   0    10        5
송태섭       9      10   2    10        1

In [177]:
#여러 개의 행과 여러개의 열을 선택하여 값을 변경 
df.loc['강백호':'채치수', 'ft':'rebound']= 100
print(df)

     point3  point2   ft  foul  rebound
정대만      24       6    3     2        1
강백호       3       4  100   100      100
서태웅       9       1  100   100      100
채치수       3      10  100   100      100
송태섭       9      10    2    10        1

In [179]:
df.iloc[1:4,2:5 ]= 20
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4  20    20       20
서태웅       9       1  20    20       20
채치수       3      10  20    20       20
송태섭       9      10   2    10        1

In [181]:
# 다른 값으로 변경
# 하나의 행과 여러개의 열을 선택하여 값 변경 
df.loc['채치수',['point2','foul']] = [10,2]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4  20    20       20
서태웅       9       1  20    20       20
채치수       3      10  20     2       20
송태섭       9      10   2    10        1

In [182]:
df.loc['채치수',['point2','foul']] = 2,1 
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4  20    20       20
서태웅       9       1  20    20       20
채치수       3       2  20     1       20
송태섭       9      10   2    10        1

In [185]:
df.loc['채치수',['point2','foul']] = [3,5] 
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4  20    20        3
서태웅       9       1  20    20       20
채치수       3       3  20     5        3
송태섭       9      10   2    10        1

In [183]:
# 여러 개의 행과 하나의 열을 선택하여 값 변경
df.loc[['강백호','채치수'],'rebound'] =4
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4  20    20        4
서태웅       9       1  20    20       20
채치수       3       2  20     1        4
송태섭       9      10   2    10        1

In [186]:
# 여러 개의 행과 하나의 열을 선택하여 값 변경
df.loc[['강백호','채치수'],'rebound'] =[5,5]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4  20    20        5
서태웅       9       1  20    20       20
채치수       3       3  20     5        5
송태섭       9      10   2    10        1

In [184]:
df.iloc[[1,3],4] = 3
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4  20    20        3
서태웅       9       1  20    20       20
채치수       3       2  20     1        3
송태섭       9      10   2    10        1

In [187]:
df.iloc[1,[1,4]] = [22,44]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3      22  20    20       44
서태웅       9       1  20    20       20
채치수       3       3  20     5        5
송태섭       9      10   2    10        1

In [189]:
# 여러개의 행과 여러 개의 열을 선택하여 값을 변경 
df.loc[['채치수', '송태섭'],['point3','point2']] =[0,8],[9,8]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3      22  20    20       44
서태웅       9       1  20    20       20
채치수       0       8  20     5        5
송태섭       9       8   2    10        1

In [190]:
# 여러개의 행과 여러 개의 열을 선택하여 값을 변경 
df.iloc[[3,4],[0,1]] =[0,8],[9,8]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3      22  20    20       44
서태웅       9       1  20    20       20
채치수       0       8  20     5        5
송태섭       9       8   2    10        1

In [191]:
print(df.T)

         정대만  강백호  서태웅  채치수  송태섭
point3    24    3    9    0    9
point2     6   22    1    8    8
ft         3   20   20   20    2
foul       2   20   20    5   10
rebound    1   44   20    5    1

In [192]:
print(df.transpose())

         정대만  강백호  서태웅  채치수  송태섭
point3    24    3    9    0    9
point2     6   22    1    8    8
ft         3   20   20   20    2
foul       2   20   20    5   10
rebound    1   44   20    5    1

### 인덱스 활용

In [194]:
import pandas as pd

In [195]:
sd ={
    "이름" : ['정대만', '강백호' ,'채치수'],
     "키" : [184,189,193] ,
     "나이" : [19,17,19],
     "득점" : [28,1,20]
}

In [200]:
df = pd.DataFrame(sd)
print(df)

    이름    키  나이  득점
0  정대만  184  19  28
1  강백호  189  17   1
2  채치수  193  19  20

### 특정 열을 행 인덱스로 설정

In [197]:
df_new = df.set_index('이름')

       키  나이  득점
이름
정대만  184  19  28
강백호  189  17   1
채치수  193  19  20

In [203]:
print(df_new)
#원래 행 인덱스(정수)가 없어지고 이름 열이 행 인덱스가 됨

      이름  나이    키
선수1  정대만  19  184
선수2  서태웅  17  180

In [204]:

print(df_new)
df_new2 = df.set_index('키')
print(df_new2)
# 키 열이 행 인덱스가 되고, 행 인덱스였던 이름 열이 다시 열로 돌아옴

      이름  나이    키
선수1  정대만  19  184
선수2  서태웅  17  180
      이름  나이  득점
키
184  정대만  19  28
189  강백호  17   1
193  채치수  19  20

In [206]:
print(df)
df_new = df.set_index(['이름', '키'])
print(df_new)
# 키 열이 행 인덱스가 되고, 행 인덱스였던 이름 열이 다시 열로 돌아옴

    이름    키  나이  득점
0  정대만  184  19  28
1  강백호  189  17   1
2  채치수  193  19  20
         나이  득점
이름  키
정대만 184  19  28
강백호 189  17   1
채치수 193  19  20